@import "../../../../assets/styles/variables";

:host {
  display: inline-block;
}

.verified-badge {
  background: rgba(16, 185, 129, .12);
  border-radius: 999px;
  color: $color-success;
  padding: 0.25rem 0.5rem;
}
